[Desktop Entry]
Name=Bottles Next
Comment=Bottles Next Demo
Type=Application
Icon=dev.edfloreshz.Bottles.Next
Exec=bottles-next %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
